.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0 20px;
}

.pagination button {
  padding: 20px;
  height: 48px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: rgb(34, 65, 65);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button.active {
  font-weight: 900;
  border: none;
  background: #fff;
}
