.search_bar {
  width: 50%;
  margin: 100px auto 50px;
}

.search_bar input {
  border: none;
  border-radius: 100px;
  padding: 20px;
}

.search_bar input::placeholder {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-style: italic;
}

ul {
  list-style-type: none;
  color: rgb(34, 65, 65);
}

.movie_title {
  width: 70%;
  font-size: 1.2em;
  font-weight: bolder;
  color: white;
}

li {
  width: 250px;
}

.mainList {
  position: relative;
  height: 90%;
}

.liked {
  color: red;
}

.heart {
  position: absolute;
  right: 0;
  top: 410px;
  font-size: 1.1rem;
  cursor: pointer;
  color: #000;
}

.likes {
  position: absolute;
  right: 0;
  color: white;
  top: 430px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

.movie_image {
  width: 250px;
  height: 400px;
  box-shadow: 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0, 7px 7px 0 0, 8px 8px 0 0;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.commentBox {
  padding: 0.25em 0.5em;
  width: 100px;
  box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.clicked {
  cursor: not-allowed;
  pointer-events: none;
}

.commentBox:active {
  box-shadow: 0 0 0 0;
  top: 5px;
  left: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0 20px;
}

.pagination button {
  padding: 20px;
  height: 48px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: rgb(34, 65, 65);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button.active {
  font-weight: 900;
  border: none;
  background: #fff;
}
