ul {
  list-style-type: none;
}

.movie_title {
  width: 70%;
  font-size: 1.2em;
  font-weight: bolder;
}

li {
  width: 250px;
}

.mainList {
  position: relative;
  height: 90%;
}

.liked {
  color: red;
}

.heart {
  position: absolute;
  right: 0;
  top: 410px;
  font-size: 1.1rem;
  cursor: pointer;
}

.likes {
  position: absolute;
  right: 0;
  top: 430px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.movie_image {
  width: 250px;
  height: 400px;
  box-shadow: 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0, 7px 7px 0 0, 8px 8px 0 0;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.commentBox {
  padding: 0.25em 0.5em;
  width: 100px;
  box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.commentBox:active {
  box-shadow: 0 0 0 0;
  top: 5px;
  left: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0 20px;
}

.pagination button {
  padding: 20px;
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ccbaba;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button.active {
  font-weight: 900;
  border-color: #101010;
  background: #000;
  color: #fff;
}


