header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.header {
  color: white;
  font-size: 4rem;
  text-align: center;
  font-style: italic;
  letter-spacing: 0.5rem;
}

.logo_div {
  display: flex;
  gap: 50px;
}

header img {
  height: 200px;
}

@media screen and (max-width: 650px) {
  .hide {
    display: none;
  }
}
